{% extends 'VctVpnBundle::layout.html.twig' %}

{% block body %}
	<table border="0" cellspacing="0" cellpadding="0" class="new_lic">

	<tr >
	<td width="120">user_id</td>
    <td width="120">vpnServerId</td>
    <td width="120">E-Mail</td>
	<td width="120">Paid Fee</td>
	</tr>


                            <tr>
                            	<td width="120">{{ user.id }}</td>
                                <td width="120">{{ user.vpnServerId }}</a></td>
{#                                 <a href="{{ path('relocate_search_detail', {'id':entity.estateId}) }}">{{ entity.estateName }}</a>#}
                                <td width="120">{{ user.email }}</td>
                                <td width="120">{{ user.paidFee }}</td>
                            </tr>
                        
      </table>
      
            <a href="{{ path('vct_vpn_kanri_info') }}">Show List</a>
{#       <input type="button" value="Show List" onClick="javascript:window.location='{{ 'info' }}'" id="btn_modify"/>#}
{#                     url('search_detail_modify', {id:entity.estateId})#}

{% endblock %}