{% extends 'VctVpnBundle::layout.html.twig' %}

{% block body %}

	
	<table border="0" cellspacing="0" cellpadding="0" class="new_lic">
	<tr >The Users Listed below have been deleted!</tr>
	<tr >
	<td width="120">user_id</td>
    <td width="120">vpnServerId</td>
    <td width="120">E-Mail</td>
	<td width="120">Paid Fee</td>
	</tr>

    {% for user in users %}					
                            <tr>
                            	<td width="120"><a href="{{ path('vct_vpn_kanri_update', {'user_id':user.id}) }}">{{ user.id }}</a></td>
                                <td width="120">{{ user.vpnServerId }}</a></td>
{#                                 <a href="{{ path('relocate_search_detail', {'id':entity.estateId}) }}">{{ entity.estateName }}</a>#}
                                <td width="120">{{ user.email }}</td>
                                <td width="120">{{ user.paidFee }}</td>
                            </tr>
      {% endfor %}
      </table>

      <input type="button" value="Info List" onClick="javascript:window.location='{{ url('vct_vpn_kanri_info') }}'"/>    

{% endblock %}