{% extends 'VctVpnBundle::layout.html.twig' %}

{% block body %}
	
	<form action="{{ path('vct_vpn_kanri_delete') }}" method="post" >


	<table border="0" cellspacing="0" cellpadding="0" class="new_lic">

	<tr >
	<td width="120">user_id</td>
    <td width="120">vpnServerId</td>
    <td width="120">E-Mail</td>
	<td width="120">Paid Fee</td>
	</tr>


    {% for user in users %}
						
                            <tr>
                            	<td class="list_td1">
								<input type="checkbox" name="ids[]" value="{{ user.id }}"/></td>
                            	<td width="120"><a href="{{ path('vct_vpn_kanri_update', {'user_id':user.id}) }}">{{ user.id }}</a></td>
                                <td width="120">{{ user.vpnServerId }}</a></td>
{#                                 <a href="{{ path('relocate_search_detail', {'id':entity.estateId}) }}">{{ entity.estateName }}</a>#}
                                <td width="120">{{ user.email }}</td>
                                <td width="120">{{ user.paidFee }}</td>
                            </tr>
                        


      {% endfor %}
      
      </table>
      	<input type="submit" value="Delete Users" />
{#       <input type="button" value="Delete Users" onClick="document.forms[0].action='{{ path('vct_vpn_kanri_new') }}';document.forms[0].submit();"/>#}
      </form>

      <input type="button" value="New User" onClick="javascript:window.location='{{ url('vct_vpn_kanri_new') }}'"/>    
{#       <input type="button" value="Delete Users" onClick="javascript:window.location='{{ url('vct_vpn_kanri_delete') }}'" />#}


{# 		<input type="button" value="Delete Users" onClick="document.forms[0].action='{{ path('vct_vpn_kanri_delete') }}';document.forms[0].submit();"/>#}
		
{# 		onclick="document.forms[0].action='{{ path('search_detail_modify',{'id':id,'workflow':'back'}) }}';document.forms[0].submit();"#}
		
      
      {# <a href="{{ path('vct_vpn_kanri_delete') }}">Delete Users</a> #}


{% endblock %}